.page-header {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../assets/images/project2.png') center/cover;
    position: relative;
}
.page-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(15, 17, 21, 0.5);
}
.page-header h1 {
    position: relative;
    z-index: 1;
    color: var(--primary);
    font-size: 4rem;
}
.nav-links .active {
    color: var(--primary);
}
.nav-links .active::after {
    width: 100%;
}
